.History {
  border-top: 1px solid #ccc;
  padding-top: 0.5em;
  border: 2;
  
  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 1em;
  }

  ul {
    color: black;
    cursor: pointer;
    font-size: 0.75em;
    margin: 1em;
    padding: 0.33em;
    height: 80%;
    width: 20%;
  }

  li {
    border: 1px groove #ccc;
    color: #eee;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: .75em;
    padding: .75em;
    border-radius: 3px;
    background: #2d5986;
    width: 250px;
    margin-bottom: .5em;
  }

  span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
